.corePage1 {
    margin-left: 50%;
    border: solid 1px black;
    border-radius: 15px;
    display: flex; 
}
#fond {
    position: fixed;
    background-color: #2d60a1;
    width: 100%;
    height: 1000px;
}

#astuce {
    position: absolute;
    left: 5%;
}

.titre {
    padding: 3% 0% 0% 2%;
    font-size: 30px;
}
.suite {
    padding: 3% 0% 0% 2%;
    font-size: 20px;
    text-align: center;
}
.zoneTexte {
    padding: 10%;
    text-align: center;
}
#content2 {
    position: absolute;
    background-color: #fff;
    height: 3500px;
}
#content1 {
    position: relative;
    top: 10px;
    left: 20%;
    width: 60%;
    font-family: "bison";
    border-radius: 10px;
    text-indent: 10px;
}

#bas {
    position: fixed;
    top: 92%;
    left: 70%;
    
}




@font-face {
	font-family: "Bison";
	src: url("../font/Bison.ttf");
}