html{
    background-color: slateblue;
}
#conteneur{
    display: flex;
    margin-top : 20px;
    margin-bottom : 20px;
}

.potar{
    margin: 10px;
    
}

#potar{
    width: 300px;
}


h1{
    color: snow;
    background-color: steelblue;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    width: 70%;
    font-size: 1.5em;
    
}
#btnAcceder{
    
    
  background-color: #4CAF50; 
  border: none;
  color: white;
  border-radius: 5px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;

  

}